
/*A propos section*/

.container{
    margin-top:8rem;
}

/*Fin A propos section*/






/*Section card*/

.card-container {
   margin-top: 8rem;
}

.star{
    color: rgb(230, 230, 88);
}

.cost span{
    color: #F39F06;
    font-weight:bold;
    font-size: 20px;
}

.card-text{
    font-size:11px;
}


/*Fin Card*/






